<h1><%= @employee.full_name %></h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @employee.email %></td>
    </tr>
  </tbody>
  </table>

<script>
  var dataArray = <%= @employee.monthly_sales %>;
  var height = 500;
  var width = 800;
  var barWidth = 50;
  var topMargin = 20;
  var sortedDataArray = <%= @employee.monthly_sales %>.sort(function(a,b) {return a - b });

  var heightScale = d3.scale.linear()
                      .domain([d3.min(dataArray)/2, d3.max(dataArray)])
                      .range([0, height - topMargin]);

  var colorScale = d3.scale.linear()
                      .domain([0, d3.max(dataArray)])
                      .range(["orange", "red"]);

  var canvas = d3.select("body")
                  .append("svg")
                    .attr("height", height)
                    .attr("width", width)
                    .append("g")
                      .attr("transform","translate(20,0)");

  var bars = canvas.selectAll("rect")
                    .data(dataArray)
                    .enter()
                    .append("rect")
                      .attr("width", barWidth)
                      .attr("height", function(d) { return heightScale(d) ;} )
                      .attr("y", function(d) { return height + topMargin - heightScale(d) ;})
                      .attr("x", function(d, i) { return i * 60; })
                      .attr("fill", function(d)  { return colorScale(d) ;});

</script>

